# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# SQLite DB
*.db
*.sqlite3

# Storage
storage/
app/storage/

# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Test / cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# SQLite journal / WAL
*.db-journal
*.sqlite3-journal
*.db-wal
*.db-shm